.terminal-container {
  background-color: #2b2b2b;
  color: #fff;
  font-family: "Courier New", monospace;
  font-size: 16px;
  height: 100vh;
  padding: 30px;
  width: 100%;
}

.terminal-input-container {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 20px;
}
.terminal-prompt {
  align-items: center;
  display: flex;
}

.terminal-prompt-symbol {
  margin-right: 10px;
}

.terminal-input {
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 16px;
  outline: none;
  padding: 0;
  width: 50%;
}

.terminal-output {
  background-color: #333;
  border-radius: 10px;
  padding: 20px;
}
