.terminal-container {
  background-color: #2b2b2b;
  color: #fff;
  font-family: "Courier New", monospace;
  font-size: 16px;
  height: 100%;
  padding:0px;
  margin: 0px;
  width: 100%;
  display: flex;
  
}
.box{
  margin-left:0rem;
  
}
.terminal-input-container {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 20px;
}
.terminal-prompt {
  align-items: center;
  display: flex;
}

.terminal-prompt-symbol {
  margin-right: 10px;
}

.terminal-input {
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 16px;
  outline: none;
  padding: 0;
  width: 50%;
}

.terminal-output {
  background-color: #333;
  border-radius: 10px;
  padding: 20px;
  width:90%;
}
.header{
  display: flex;
  width:90%;
  margin-left:4rem;
  
}


.col{
  flex: 1;
  margin:2px;
  height:15rem;
  
  /* border: 2px solid lightgray; */
}
.col2{
  text-align: center;
  
}
#image{
  width: 50%;
  height: 100%;
  border-radius:2rem;
}
h1{
  text-align: center;
}
p{
  text-align: center;
  color: rgb(51, 202, 51);
  animation: draw 2.7s linear 0.5s forwards;
}
h3{
  margin-top:3rem;
  margin-left: 2rem;
}
form{
  margin-left: 2rem;
}
@media screen and (max-width: 600px) {
  .terminal-output {
    background-color: #333;
    border-radius: 10px;
    /* padding: 20px; */
    width:90%;
  }
  .header{
    display: flex;
    width:90%;
    /* margin-left:4rem; */
    flex-direction: column-reverse;
  
  }
  .col{
    width:85%;
    /* margin:2px; */
    /* height:15rem; */
    
    /* border: 2px solid lightgray; */
  }
  form{
    margin-left: 1rem;
  }
  }